@import "tailwindcss";
@plugin "@tailwindcss/typography";

@variant dark (&:where(.dark, .dark *));

@layer utilities {
  .prose :where(code):not(:where([class~="not-prose"] *)) {
    @apply bg-gray-200 dark:bg-gray-800 rounded px-1.5 py-0.5 font-normal text-sm text-pink-600 dark:text-pink-400 before:content-[''] after:content-[''];
  }

  .prose :where(pre code):not(:where([class~="not-prose"] *)) {
    @apply bg-transparent p-0 text-inherit text-base text-gray-200 before:content-none after:content-none;
  }
}


